{
  "HomepageLocation": "{{ contest_web }}",
  "HomepageIsNewTabPage": false,
  "PromotionalTabsEnabled": false,
  "ShowHomeButton": true,
  "RestoreOnStartup": 4,
  "RestoreOnStartupURLs": ["{{ contest_web }}"]
}
