// first line must be a comment.
lockPref("app.update.enabled", false); // disable update checks
clearPref("extensions.lastAppVersion"); // disable extension update checks
pref("browser.rights.3.shown", true); // don't show "know your rights" on first run
pref("browser.startup.homepage_override.mstone", "ignore"); // don't show What's New on first run
// disable telemetry (hides the privacy notice on startup);
pref("toolkit.crashreporter.enabled", false);
pref("datareporting.policy.dataSubmissionEnabled", false);
pref("datareporting.healthreport.service.enabled", false);
pref("browser.startup.homepage", "{{ contest_web }}");
